body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    margin-top: 0;
    font-size: 60px;
  }
  
  #messages {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    max-height: 400px;
  }
  
  #inputMessage {
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    outline: none;
    font-size: 14px;
  }
  
  p {
    margin: 5px 0;
  }
  
  .user-message {
    background-color: #e2eaf1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .bot-message {
    background-color: #d4f1d7;
    padding: 10px;
    border-radius: 5px;
  }
  